* {  
    margin:0;  
    padding: 0;  
    list-style: none;  
    text-decoration: none;  
    box-sizing: border-box;  
}  
body {  
    font-family: Arial, Helvetica, sans-serif;  
}  
.conteiner {  
    display: flex;  
    justify-content: space-between;  
    padding: 10px;  
    flex-wrap: wrap;  
}  
.box1 {  
    background-color: white;  
    border: 1px solid rgba(0, 0, 0, 0.144);  
    border-radius: 5px;  
    padding: 10px;  
    text-align: center;  
    margin: 10px;  
    min-width: 300px;  
    flex: 1 1 calc(25% - 20px);   
}  
.box1 i {  
    font-size: 30px;  
}  
.box1 h2 {  
    margin: 10px;  
    color: #333;  
}  
.box1 p {  
    font-size: 11px;  
    margin-top: 10px;  
    color: rgba(51, 41, 41, 0.938);  
}  
.box1 img {  
    width: 100px;  
    height: 100px;  
}  
.box1 button {  
    background-color: #0078ff;  
    color: white;  
    border: none;  
    cursor: pointer;  
    transition: background-color 0.5s;  
    margin-top: 10px;  
    padding: 8px 10px;  
    border-radius: 2px;  
}  
button:hover {  
    background-color: #0056b3;  
}  

